<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Generate</title>
</head>

<body>
    {% block content %}
    <div class="container text-center">
        <h1>This is the home page</h1>

        <form action="{% url 'password' %}">
            <select name="length">
         <option value="8">8</option>
         <option value="10">10</option>
         <option value="12" selected="selected">12</option>
         <option value="14">14</option>
         <option value="16">16</option>
         <option value="18">18</option>
        </select>Length
            <br>
            <input type="checkbox" name="uppercase"> UpperCase
            <br>
            <input type="checkbox" name="numbers"> Numbers
            <br>
            <input type="checkbox" name="special"> Special
            <br>
            <button type="submit" class="btn btn-primary">send</button>
        </form>
        <a href="{% url 'about' %}"><button class="btn btn-warning">Go_about</button></a>
        <a href="{% url 'password' %}"><button class="btn btn-warning">Go_password</button></a>
    </div>
    {% endblock %}
</body>

</html>